* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #f3ede5;
}

.page {
	padding: 4rem 0;

	@media screen and (min-width: 1440px) {
		padding: 6rem 0;
	}
}

.swiper {
	height: 428px;
	padding-left: 1rem;

	@media screen and (min-width: 1024px) {
		height: 585px;
		padding-left: 2.75rem;
	}
}

.swiper-slide figure,
.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.swiper-arrow {
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: #222222;
}

.swiper-button-prev {
	left: 2rem;
	@media screen and (min-width: 1024px) {
		left: 3rem;
	}
}

.swiper-button-next {
	right: 2rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
	content: "";
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	display: none;
}

.button {
	background: black;
	color: white;
	padding: 1rem 2rem;
	margin: 2rem auto;
	display: flex;
	border: none;
	cursor: pointer;
}
